App-cont{
  display: flex;
  flex-direction: column;
  background-color: #141414;
}

.cabecalho {
  display: flex;
  background-image: linear-gradient(#13293D, #17181D);
  align-items: center;
  margin: -10px;
  justify-content: space-around;
}

.Titulo {
  display: flex;
  align-items: center;
  font-size: 2.9rem;
  font-family: 'Anek Bangla' sans-serif;
  padding: 0.8rem;

}


.Naveg {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
}


.item {
  
  padding: 0.5rem;
  border: solid 3px #13293D;
  border-radius: 20px;
  list-style: none;
  justify-content:last baseline;
  align-items:center ;
}

.item :any-link {
  text-decoration: none;
  color: aliceblue;
  font-size: 0.8rem;
  padding: 0.5rem;

}

.item:hover {
  color: #141414;
  background-color: #13293D;
  transition: 0.3s;
}




