

.homeDiv {
    background-color: rgb(63, 68, 87);
    border-radius: 18px;
    padding: 0.5rem;
    margin-top: 0.7rem;
    align-items: flex-start;
    
}



 h2, p {
    padding: 0.5rem;
    font-weight: 700;
}

.perfil2 {
    display: flex;
    flex-direction: row;
    border-radius: 18px;
    margin-top: 0.7rem;
    background-image: linear-gradient(90deg,
   rgb(33, 36, 46)50%, 
   rgb(9, 10, 14)100%);
  
   
    
}