@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.App {
  background-color: rgb(9, 10, 14);
  color: aliceblue;
  display: flex;
  margin: 1rem;
  font-family: 'Inter', sans-serif;

}

.Header {
  height: fit-content;
  width: auto;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

