
.box1{
    display: flex;
    text-align: center;
    border-bottom: solid 3px #08546C;
    align-items: center;
    padding: 2rem 2rem;
    margin-bottom: 1rem;
    font-size: 1.6rem;
}

.box2{
    color: #08546C;
    text-align: center;
    border-bottom:solid 3px #08546C;
    padding: 1rem 1rem;
    font-size: 1.4rem;

}
.linguagens {
    display: flex;
    color: #08546C;
    text-transform: uppercase;
    justify-content: space-evenly;
    align-items:flex-start;
}

.linguagens itens {
    padding-left: 0.8rem;

}

.linguagens :hover {
    cursor: pointer;
    border:#08546C solid 1.5px;
    transition: 0.5s;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

img {
    height: 350px;
    width: 450px;
}


