.Contatos {
    display: flex;
    background-color: #292C35;
    border-radius: 18px;
    margin: 0.5rem 0.8rem;
    margin-top: 2rem;
}

.Contatos:h2 {
    font-size: 1rem;
    color: #247BA0;
    padding: 1rem;
    text-align: center;
}

.Form_feedback_user{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Form_feedback_user:form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Form_feedback_user:input {
    border: solid 4px #247BA0;
    padding: 1rem;
    color: #292C35;

}
