
.box1 {
    
    margin: 3rem 1rem;
    padding-top: 0.6rem;
    border-top: 3px solid #247BA0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}

.box1:h3 {
    color: #247BA0;
    font-size: 1rem;
    padding: 0.7rem;
}

.box-icones {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    padding-left: 0.8rem;
    
}



.icon-rodape {
    color: black;
    padding: 0.4rem;

}

.icon-rodape:hover {
    background-color: #247BA0;
    color: black;
    transition: 0.1s;
    border-radius: 18px;
}

