


/* Barra de navegação */


.titulo {
  display: flex;
  color: #BD9060;
  text-align: center;
  justify-content: left;
  font-size: 2.5rem;
  font-weight: 500;
  padding-left: 3rem;
}

.naveg {
  width: auto;
  height: 4rem;
  list-style: none;
  display: flex;
  align-items:center;
  justify-content:right;
  flex-direction: row;
  padding-right: 6rem;
  border-bottom: #BD9060 3px solid;
  
}

.iten {
  display: flex;
  justify-content: space-evenly;
  padding: 1.5rem;
}

.iten :any-link {
  display: flex;
  align-items:center;
  text-decoration: none;
  color:#BD9060;
  padding: 5px;
  text-align: center;
  font-weight: 500;

}


.iten :hover {
  background-color:#BD9060;
  color: rgb(248, 246, 246);
  transition: 0.5s;
  text-decoration: none;
  text-align: center;
  border-radius: 16px;
  text-shadow: #3a2009;
}



