


/* Barra de navegação */

.naveg {
  width: auto;
  height: 4rem;
  list-style: none;
  display: flex;
  align-items:center;
  justify-content:right;
  flex-direction: row;
  padding-right: 12rem;
  border-bottom: #08546C 3px solid;
}

.naveg li {
  padding-left: 1rem;
}
 
.navev ul :hover {
  background-color:  #08546C;
  transition: 0.3s;
  cursor: pointer;
}

.naveg Link a:visited {
  text-decoration: none;
  color: aliceblue;
}
