


/* Barra de navegação */

.naveg {
  width: auto;
  height: 4rem;
  list-style: none;
  display: flex;
  align-items:center;
  justify-content:right;
  flex-direction: row;
  padding-right: 12rem;
  border-bottom: #08546C 3px solid;
  
}

.iten {
  display: flex;
  justify-content: space-evenly;
  padding: 1.5rem;
}

.iten :any-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #08546C;
  padding: 5px;

}


.iten :hover {
  background-color: #08546C;
  color: aliceblue;
  transition: 0.6s;
  text-decoration: none;
  text-align: center;
  border-radius: 22px;
}



