@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

body {
  margin: 0;
  background-color: #17181D;
  color: aliceblue;
  font-family: 'Heebo', sans-serif;

}

button {
  background-image: linear-gradient(#aeb5b9 90%,  #273748 100%);
  display: flex;
}